body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 95vh;
    vertical-align: middle;
}

.content{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap nowrap;
}

h2{
    margin-top: 0 !important;
}

.content-photo{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#body{
    position: absolute;
    background-image: url(../img/body.png);
    background-size: contain;
    width: 200px;
    height: 360px;
    z-index: 1;
}

#webcam, #camera, video{
    object-fit: cover;
    width: 200px !important;
    height: 360px !important;
}

input {
    max-width: 5rem;
    text-align: center;
    margin-left: 1rem !important;
}

#snapShot{
    width: 200px;
    height: 360px;



}

button{
    margin-top: 2em !important;
}

.divider{
    width: 3px;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 3em;
    margin: 0 3em;
}

.content-result{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-preview{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#actionPreview{
    max-width: 80%;
}

p{
    max-width: 10em !important;
    margin: 0 3em !important;
}

.content-results{
    display: flex;
    flex-flow: column;
}

.image-result{
    margin: 1em 1em;
}

.image-result:hover{
    cursor: pointer;
}